html,
body {
    background-color: rgb(17, 69, 114);
    width: auto;
}


/* Create a custom checkbox */

.checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}